* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide browser UI when added to homescreen */
@media (display-mode: standalone) {
  /* Hide browser address bar */
  html {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
